@font-face {
	font-family: YS Text;
	src: url(fonts/YandexSansText-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-size: 13px;
}

.container {
	display: flex;
	flex-direction: column;
}

.container__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 921px;
	margin: auto;
}

.container__right {
	float: right;
	position: fixed;
}

.container__head {
	display: flex;
	justify-content: space-between;
}

.container__wrapper {
	display: flex;
	flex-direction: column;
	max-width: 921px;
	margin: auto;
}

.notif {
	top: 10px;
	right: 2px;
	width: 200px;
}

.notif__block {
	margin-right: 6px;
	border-radius: 8px;
	box-shadow: 0 0 32px rgba(0, 0, 0, .08);
	padding: 12px 14px;
}

.notif__block._hover:hover {
	position: relative;
	left: -15px;
}

.notif-email__titles {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

._bold {
	font-weight: 600;
}

.notif-email__button {
	margin-top: 18px;
	padding: 7px 14px 8px;
	font-size: 12px;
	border-radius: 3px;
	background: #e8e8e8;
	border: none;
	width: 100%;
	text-align: center;
	font-size: 13px;
}

.notif-email__button:hover {
	cursor: pointer;
	background-color: #74757e;
	transition: background-color .15s;
}

.notif-email__plus {
	font-size: 13px;
	text-align: center;
	margin-top: 18px;
	margin-bottom: 18px;
	color: #0080ff;
}

.notif-messenger {
	display: flex;
	align-items: center;
}

.notif-coronavirus__img {
	width: 172px;
	height: 92px;
}

.headline {
	color: #90919d;
	line-height: 42px;
	font-size: .93em;
	margin-right: 234px;
}

.headline__item {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.headline__item:nth-child(1) {
	width: 300px;
	font-size: 11px;
}

.headline__geolink {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headline__bookmarks._link:hover,
.headline__notifier._link:hover {
	opacity: .5;
}

.headline__svg {
	width: 14px;
	height: 14px;
	background-size: 14px;
	margin-right: 6px;
	background-image: url(https://yastatic.net/s3/home-static/_/1/a/UOr5Wu-4cx5c3GoI7LnUdvM9k.svg);
}

.headline__city {
	font-weight: 700;
	font-size: 12px;
}

.headline__data-time {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.headline__bookmarks {
	opacity: .24;
	width: 16px;
	height: 20px;
	background-image: url(img/bookmark.svg);
	background-repeat: no-repeat;
	margin-right: 24px;
}

.headline__notifier {
	opacity: .24;
	width: 16px;
	height: 20px;
	background-image: url(img/notification.svg);
	background-repeat: no-repeat;
}

.more-info {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.news__titles_link {
	text-decoration: none;
}

.news {
	width: 627px;
	height: 172px;
}

.list-events {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list-events__icons {
	width: 12px;
	height: 12px;
	margin-right: 5px;
	background-color: red;
}

.list-events__item {
	margin-top: 8px;
	list-style-type: none;
}

.list-events__link {
	display: flex;
	align-items: center;
	color: #000;
}

.list-events__item:hover {
	color: #8c3333;
}

.news__titles {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.25;
}

._title-main {
	color: #0054b9;
	margin-right: 12px;
	font-weight: 600;
	font-size: 15px;
}

._title-desc {
	color: #6da2e1;
	margin-right: 12px;
}

._title-coronavirus {
	font-weight: 200;
	color: #ee7b00;
}

[class*=_title-]:hover {
	color: red;
	cursor: pointer;
}

._link {
	text-decoration: none;
}

._link:hover {
	color: #8c3333;
	cursor: pointer;
}

.weath-traffic,
{
	display: flex;
	flex-direction: column;
}

.wth-traf-item__info {
	display: flex;
	align-items: center;
}

.wth-traf-item__subtitle {
	list-style-type: none;
	display: inline;
	margin-right: 5px;
}

.wth-traf-item__current-info {
	display: flex;
	align-items: center;
	font-size: 26px;
	margin-right: 9px;
}

.wth-traf-item__current-value {
	font-size: 26px;
}

[class^=wth-traf-item__img] {
	width: 48px;
	height: 48px;
}

.wth-traf-item__img:nth-child(1) {
	background-image: url(https://yastatic.net/s3/home-static/2020-11-16-0/common/blocks/weather-icons/general/skc-n.png);
}

.wth-traf-item__img:nth-child(2) {
	background-image: url(https://yastatic.net/s3/home-static/_/W/6/3iKv0HwMyq3LM_iMXrpDbLZkM.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.wth-traf-item__current-addition {
	margin-left: 12px;
}

.traffic {
	margin-top: 18px;
}

.widgets {
	max-width: 921px;
}

.widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95px;
	height: 60px;
}

.widget:hover .widget__img {
	position: relative;
	top: -5px;
}

.widget:hover .row-widgets__link {
	color: red;
}

.row-widgets__link:visited {
	color: #000;
}

.row-widgets__widget a {
	text-decoration: none;
	font-size: 12px;
}

.widget__img {
	width: 44px;
	height: 44px;
}

.widget__link._link:visited {
	color: #000;
}

.search__logo {
	width: 140px;
	height: 100px;
	margin-left: -140px;
	background-image: url(https://yastatic.net/s3/home-static/_/x/Q/xk8YidkhGjIGOrFm_dL5781YA.svg);
}

.advertising {
	width: 921px;
	height: 113px;
	border-radius: 5px;
	background-image: url("./img/advertising.PNG");
	box-shadow: 0 0 1px 1px rgba(122, 122, 122, 0.5);
}

.search-find {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 921px;
	margin: auto;
}

.search-find::after {
	content: '';
	position: relative;
	border: 20px solid transparent;
	border-left: 20px solid #ffdb4d;
	left: -14.9px;
}

.search-find__input {
	height: 40px;
	width: 100%;
	border: 2px solid #ffdb4d;
	box-sizing: border-box;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 18px;
	color: #AEAEAE;
	border-radius: 3px;
	font-size: 14px;
	line-height: 16px;
}

.search-find__input:focus {
	outline: none;
}

.search-find__button {
	height: 40px;
	background: #ffdb4d;
	box-sizing: border-box;
	width: 77px;
	margin-right: 15px;
	margin-left: -2px;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	border: 0;
}

.search-find__button:hover {
	font-size: 1.1em;
}

.news-currency__item {
	margin-top: 5px;
	margin-right: 6px;
}

.news-currency,
.news-currency__item {
	display: flex;
	font-size: 12px;
}

._currency-type {
	font-weight: 600;
	text-transform: uppercase;
}

.news-currency__data {
	margin-right: 7px;
}

._currency-change {
	color: #999;
}